<%= render 'shared/banner' %>
<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>


<div class="cards">
  <%= render 'shared/cards' %>
</div>


<br>
<p>
  <%= link_to "Add a space", new_space_path, class: "btn btn-danger" %>
</p>

<% content_for :after_js do %>
  <%= javascript_pack_tag "home" %>
<% end %>
