<%= render 'shared/banner' %>

<div class="huge-container">
  <div class="small-container">
    <div class="cards">
      <h2> Featured :</h2>
      <hr>
      <%= render 'shared/cards' %>
    </div>
      <% content_for :after_js do %>
        <%= javascript_pack_tag "home" %>
      <% end %>

  </div>
</div>
<!-- <%= render 'shared/footer' %> -->
