<%= render 'shared/banner' %>
<div class="results">
  <div
    id="map"
    style="width: 40%;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
  ></div>
  <div class="cards">
    <%= render 'shared/cards' %>
  </div>
</div>

<br>
<p>
  <%= link_to "Add a space", new_space_path, class: "btn btn-danger" %>
</p>
