<%= render 'shared/banner' %>

<div class="cards">
  <%= render 'shared/cards' %>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "home" %>
<% end %>
    <%= render 'shared/footer' unless action_name == "search" %>
