<div class="search-box">
  <%= form_tag spaces_search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a place to jamm" %>
  <% end %>
</div>

<div class="search-content">
  <div class="results">
    <div style="float: left"
      id="map"
      data-markers="<%= @markers.to_json %>">

      </div>
    <div style="float: right" id="cardsinsearch">
      <%= render 'shared/cards' %>
    </div>
  </div>

</div>
