<div class="search-box">
  <%= form_tag spaces_search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a place to jamm" %>
  <% end %>
</div>


<div class="search-content">
  <div class="results">
    <div class="hidden-xs"
      id="map"
      data-markers="<%= @markers.to_json %>">

      </div>
      <div class="col-xs-12 col-sm-12 col-md-2" id="cardsinsearch">
      <%= render 'shared/cards' %>
    </div>
  </div>
</div>


