
<%= form_tag spaces_search_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a place to jamm" %>
<% end %>


<div class="results">
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
  ></div>
  <div class="cards">
    <%= render 'shared/cards' %>
  </div>
</div>
