<br>
<div class="container">
  <div class="row show-container">
    <div class="col-sm-6">
      <h1><%=@space.name %></h1>
        <p>
          <strong>Address:</strong>
          <%= @space.address %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @space.description %>
        </p>
    </div>
    <div class="col-sm-6">
      <%= link_to "Book this space", new_space_booking_path(@space), class: "btn btn-danger book-it-btn" %>
    </div>
  </div>
</div>


