<div class="banner" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, #000 200%),  url('<%= image_url("banner2.jpg") %>');">
  <div class="banner-content">
    <h1><%= image_tag "jambox.png", height: 60 %></h1>
    <p>Rent unique places to play your next Jamm Sesh !</p>
    <%= link_to "Find a place to Jam!",  spaces_search_path, class: "btn btn-primary btn-lg"  %>
  </div>
</div>
