<div class="banner" style="align-items: center; background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, #000 200%),  url('<%= image_url("banner2.jpg") %>');">
  <div class="banner-content">
    <h1><%= image_tag "jambox.png", height: 60 %></h1>
    <p>Rent unique places to play your next Jamm Sesh !</p>
<h2>
      <%= form_tag spaces_search_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "btn form-control",
          placeholder: "SEARCH A PLACE TO JAM" %>
      <% end %>
</h2>
    </div>
</div>
