<!-- <div class="wrap">
   <div class="search">
      <button type="submit" class="search-box">
        <i class="fa fa-search"></i>
      <input type="text" class="search-term" placeholder="Try <<Lisbon>>">
     </button>
   </div>
</div> -->

<!--
<div class="wrap">
  <div class="search">
    <div class="row">
      <div class="col-sm-3">
        <div class="search-input-value">
          <div class="search-input-text">
            Choose your city
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="search-pink-rectangule">
          <div class="search-arrow">
            >
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="search-pink-circle"></div>
      </div>
    </div>
 </div>
</div>
 -->
