.huge-container {
  background-color: rgba(200,200,200,1);
  position: absolute;
  padding: 0px 80px;

}

.small-container {
  box-shadow: 0 10px 40px 10px rgba(0,0,0,0.16);
  background-color: rgba(175,175,175,0.5);
  position: relative;
  bottom: 65px;

}
