.footer {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  width:100%;
  margin-bottom: 0px;
  bottom: 0;
  left: 0;
}

.footer-links {
  display: flex;
  align-items: center;
  a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    &:hover {
      color: red;
    }
  }
}

.footer .fa-heart {
  color: #D23333;
}
