.search-box {
  position: fixed;
  top: 50px;
  width: 100%;
}

.search-content {
  position: fixed;
  top: 89px;
  height: calc(100vh - 89px);
  width: 100%;
  padding: 20px;
}

.results {
  display: flex;
  height: calc(100vh - 89px);
  width: 100%;
}

#map {
  flex: 0 0 150px;
  flex-grow: 1;
  height: calc(90vh - 89px);
  width: 50%;
  position: sticky !important;
  left: 0px;
}

#cardsinsearch {
  flex: 1 0 auto;
  overflow-y: scroll;
}
