.results {
  display: flex;
}

#map {
  flex: 1 1 500px;
  height: 90vh;
  width: 50%;
  position: sticky !important;
  top: 20px !important;
  left: 0px;
  margin: 10px;
}

#cardsinsearch {
  flex: 1 0 auto;
}
